.main-content {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
}
.menu {
    background-color: rgb(213, 231, 231);
    border: none;
    border-radius: 25px;
    padding: 30px;
}

/* Style for the grid and its cells */
#canvas {
    display: grid;
    width: 650px;
    height: 650px;
}
.border {
    border: 0.5px solid #63beb7;
}


/* Style applied to cells */
.cell-hover:hover {
    background-color: rgb(210, 239, 230);
}



.menu {
    display: flex;
    flex-direction: column;
}

.slider-container {
    display: flex;
}