@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,700');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;  /* This, flex-direction column, and margin help keep the footer to the bottom */
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
h1 {
    text-align: center;
}

/* Style for grid and the menu's container */
.main-content {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 30px;
}


/* Style for the grid and its cells */
.canvas-container {
    display: flex;
}
#canvas {
    display: grid;
    width: 650px;
    height: 650px;
}
.border {
    border: 0.5px solid #63beb7;
    background-color: rgb(255, 255, 255);
}


/* Style for the whole menu */
.menu {
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 231, 231);
    border: none;
    border-radius: 25px;
    padding: 30px;
    height: 400px;
}




.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}
.slider-container p {
    width: 60%;
    margin: 0;
    padding: 0;
    font-size: 30px;
}
input[type=range] {
    /* Style for the horizontal bar of the slider */
    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    height: 5px;
    border: none;
    background: white;
    outline: none;
    box-shadow: 0 5px 10px  rgb(139, 172, 197);
  }
  input[type='range']::-webkit-slider-thumb {
    /* style for the handlebar of the slider */
    -webkit-appearance: none;
    background-color: #0f5b6e;
    border: 1px solid #05263d;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
  }



/* Style for the buttons that interact with the physical grid */
.interactive-container {
    display: flex;
    align-items: center;
    height: 230px;
    flex-direction: column;
    background-color: #63beb7;
    padding: 0;
    padding-top: 5px;
    margin: 0;
}
.interactive-btn {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    padding: 5px;
}
.interactive-btn img {
    margin: 0;
    padding: 0;
    width: 50px;
    height: auto;
}
.interactive-btn:hover {
    background-color: rgb(185, 203, 203);
}
#colourPicker {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}


.palette-container {
    display: grid;
    grid-template-columns: 150px 150px;
}
.palette {
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 15px;
    margin: 20px 15px;
    background-color: rgb(225, 247, 253);
    border: 2px solid rgb(139, 172, 197);
    border-radius: 15px;
    box-shadow: 0 6px 0 0 #aabcc7;
    cursor: pointer;
}
.palette:hover {
    background-color: rgb(228, 244, 246);
    box-shadow: 0 10px 0 0 #aab9c7, 0 5px 7px #838d9c;
    transform: translateY(5px);
}



/* Style for the footer */
footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    background-color: rgb(213, 231, 231);}
footer a {
    text-decoration: none;
}